doctype html
html
  head
    link(rel='stylesheet', href='styles/app.css')
    script(src='scripts/vendor.js')
    script(src='scripts/app.js')
  body
    .container
      .page-header
        h2 建之安活动板房
      ng-view
