.panel.panel-default
  .panel-heading
    h4.panel-title
      a(data-toggle='collapse' href='#panel-metadata') 参数
  #panel-metadata.panel-collapse.collapse.in
    form.form-horizontal.panel-body
      .page-header
        h3 基础
      .form-group
        label.control-label.col-xs-2(for='input-height') 深度
        .col-xs-4
          .input-group
            input#input-height.form-control(type='text' ng-model='metadata.height')
            span.input-group-addon K
      .form-group
        label.control-label.col-xs-2(for='input-width') 长度
        .col-xs-4
          .input-group
            input#input-width.form-control(type='text' ng-model='metadata.width')
            span.input-group-addon K
      .form-group
        label.control-label.col-xs-2(for='input-layer') 高度
        .col-xs-4
          .input-group
            input#input-layer.form-control(type='text' ng-model='metadata.layer')
            span.input-group-addon P
      .form-group
        label.control-label.col-xs-2(for='input-scale') 缩放
        .col-xs-4
          input#input-scale.form-control(type='text' ng-model='metadata.scale')
      .page-header
        h3 选项

ul.nav.nav-tabs
  li.active
    a(href='#blueprint-foundation' data-toggle='tab') 基础图
  li
    a(href='#blueprint-side' data-toggle='tab') 侧视图

.tab-content.blueprints
  #blueprint-foundation.tab-pane.active
    blueprint-foundation
  #blueprint-side.tab-pane
    blueprint-side
