br
.container
  a.btn.btn-primary.btn-fixed(href='#modal-params' data-toggle='modal')
    span.glyphicon.glyphicon-th-list

  ul.nav.nav-tabs
    li.active
      a(href='#blueprint-foundation' data-toggle='tab') 基础图
    li
      a(href='#blueprint-flat' data-toggle='tab') 平面布置图
    li
      a(href='#blueprint-side' data-toggle='tab') {{metadata.height|letter}}-{{0|letter}} 轴立面图
    li
      a(href='#blueprint-front' data-toggle='tab') 1-{{metadata.width + 1}} 轴立面图

  .tab-content.blueprints
    #blueprint-foundation.tab-pane.active
      blueprint-simple-foundation
    #blueprint-flat.tab-pane
      blueprint-simple-flat(ng-repeat='rooms in metadata.rooms' layer='{{$index}}')
    #blueprint-side.tab-pane
      blueprint-simple-side
    #blueprint-front.tab-pane
      blueprint-simple-front

#modal-params.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal')
          span(aria-hidden='true') &times;
        h4.modal-title 参数
      .modal-body
        form.form-horizontal
          h5 基础
          .form-group
            label.control-label.col-xs-2(for='input-height') 深度
            .col-xs-9
              .input-group
                input#input-height.form-control(type='text' ng-model='metadata.height')
                span.input-group-addon K
          .form-group
            label.control-label.col-xs-2(for='input-width') 长度
            .col-xs-9
              .input-group
                input#input-width.form-control(type='text' ng-model='metadata.width')
                span.input-group-addon K
          .form-group
            label.control-label.col-xs-2(for='input-layer') 高度
            .col-xs-9
              .input-group
                input#input-layer.form-control(type='text' ng-model='metadata.layer')
                span.input-group-addon P
          .form-group
            label.control-label.col-xs-2(for='input-scale') 缩放
            .col-xs-9
              input#input-scale.form-control(type='text' ng-model='metadata.scale')

          br
          h5 选项
          .form-group
            label.control-label.col-xs-2(for='input-stairs') 楼梯
            .col-xs-9
              .checkbox-inline
                label
                  input(type='checkbox' ng-model='metadata.options.stairs.left')
                  | 左
              .checkbox-inline
                label
                  input(type='checkbox' ng-model='metadata.options.stairs.right')
                  | 右

          br
          .form-group
            .col-sm-10.col-sm-offset-2
              .btn-group
                button.btn.btn-warning(ng-click='saveMetadata(metadata)')
                  span.glyphicon.glyphicon-save.right-space
                  | 保存
                button.btn.btn-primary(aria-hidden='true' data-dismiss='modal' href='#modal-export' data-toggle='modal')
                  span.glyphicon.glyphicon-export.right-space
                  | 导出
                a.btn.btn-default(aria-hidden='true' data-dismiss='modal' href='#modal-import' data-toggle='modal')
                  span.glyphicon.glyphicon-import.right-space
                  | 导入

#modal-flat.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal')
          span(aria-hidden='true') &times;
        h4.modal-title 房间设置
      .modal-body
        form.form-horizontal
          .form-group
            label.col-sm-4.control-label(for='input-room-front') 前
            .col-sm-6
              select#input-room-front.form-control(ng-model='room.front')
                option(ng-repeat='(value, name) in room_options.front' value='{{value}}') {{name}}
          .form-group(ng-if='room_options.back')
            label.col-sm-4.control-label(for='input-room-back') 后
            .col-sm-6
              select#input-room-back.form-control(ng-model='room.back')
                option(ng-repeat='(value, name) in room_options.back' value='{{value}}') {{name}}
          .form-group
            label.col-sm-4.control-label(for='input-room-right') 右
            .col-sm-6
              select#input-room-right.form-control(ng-model='room.right')
                option(ng-repeat='(value, name) in room_options.right' value='{{value}}') {{name}}

#modal-import.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal')
          span(aria-hidden='true') &times;
        h4.modal-title 导入数据
      .modal-body
        form
          //
            .form-group
              label.control-label(for='input-metadata-file') 从文件
              input#input-metadata-file(type='file' ng-model='metadata_json')
          .form-group
            // label.control-label(for='input-metadata-json-import') 从文本数据
            textarea#input-metadata-json-import.form-control(ng-model='metadata_json_import')
          .form-group
            button.btn.btn-primary(ng-click='importMetadata(metadata_json_import)' data-dismiss='modal' aria-hidden='true')
              span.glyphicon.glyphicon-import.right-space
              | 导入

#modal-export.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal')
          span(aria-hidden='true') &times;
        h4.modal-title 导出数据
      .modal-body
        form
          .form-group
            textarea.form-control {{metadata}}
          .form-group
            button.btn.btn-primary(ng-click='exportMetadataToFile(metadata)')
              span.glyphicon.glyphicon-export.right-space
              | 导出到文件
