.well
  form.form-horizontal
    .form-group
      label.control-label.col-xs-2(for='input-height') 房间深度
      .col-xs-3
        .input-group
          input#input-height.form-control(type='text' ng-model='metadata.height')
          span.input-group-addon K
    .form-group
      label.control-label.col-xs-2(for='input-width') 总长度
      .col-xs-3
        .input-group
          input#input-width.form-control(type='text' ng-model='metadata.width')
          span.input-group-addon K
    .form-group
      label.control-label.col-xs-2(for='input-layer') 高度
      .col-xs-3
        .input-group
          input#input-layer.form-control(type='text' ng-model='metadata.layer')
          span.input-group-addon P
    .form-group
      label.control-label.col-xs-2(for='input-scale') 缩放
      .col-xs-3
        input#input-scale.form-control(type='text' ng-model='metadata.scale')

ul.nav.nav-tabs
  li.active
    a(href='#foundation' data-toggle='tab') 基础图

.tab-content.blueprints
  .tab-pane.active
    blueprint-foundation
