include ../../../mixins/blueprint
+blueprint('{{metadata.height|letter}}-{{0|letter}} 轴立面图')
  g(ng-attr-transform='translate({{(defines.blueprint.width - scaled.height - 200) / 2}}, 100)')
    include ../base/side

