include ../../../mixins
+blueprint('基础图')
  +defs
  text(x=20 y=40 style='font-size: 20;')
    | {{metadata.height}}KX{{metadata.width}}KX{{metadata.layer}}P 板房基础图
  g(ng-attr-transform='translate({{(defines.blueprint.width - outer.width - 160) / 2}}, 80)')
    include ../base/foundation
