include ../../../mixins
+blueprint('1-{{metadata.width + 1}} 轴立面图')
  +defs
  g(ng-attr-transform='translate({{(defines.blueprint.width - scaled.width - 100) / 2}}, 100)')
    g(blueprint-base-front)
