include ../../../mixins

mixin arrow(x)
  +ng-line(-20, x, 0, x)(style='marker-end: url(#ArrowMend);')
  +ng-line('inner.offset + 28', x, 'inner.offset', x)(
    style='marker-end: url(#ArrowMend);')
  +ng-text('inner.offset + 8', x+'-4') 300

g(transform='translate(20, 20)')
  g(fill='transparent')
    +ng-rect(0, 0, 'outer.width', 'outer.height')
    +ng-rect('center.offset', 'center.offset', 'center.width', 'center.height')(
      style='stroke-dasharray:10 5;')
    +ng-rect('inner.offset', 'inner.offset', 'inner.width', 'inner.height')

  // 下标尺
  g(ng-attr-transform='translate(0, {{outer.height + 20}})')
    +ruler('bottom', '(outer.width)', 60,
      '边线尺寸 {{defines.K * metadata.width + 380}}')
    g(ng-attr-transform='translate({{center.offset}}, 0)')
      +ruler('bottom', '(scaled.width + center.diff)', 40,
        '中线尺寸 {{defines.K * metadata.width + 80}}')

  // 右标尺
  g(ng-attr-transform='translate({{outer.width + 20}}, 0)')
    +ruler('right', '(outer.height)', 60,
      '边线尺寸 {{defines.K * metadata.height + 380}}')
    g(ng-attr-transform='translate(0, {{center.offset}})')
      +ruler('right', '(scaled.height + center.diff)', 40,
        '中线尺寸 {{defines.K * metadata.height + 80}}')

  // 左箭头
  +arrow('outer.height / 2')

  // 上箭头
  g(ng-attr-transform='rotate(90 {{outer.width / 2}},{{outer.width / 2}})')
    +arrow('outer.width / 2')
